<!DOCTYPE HTML>
<html>
<% include ../main/top.ejs %>
<body  class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div id="exampleToolbar" role="group">
                    <button type="button" class="btn btn-primary" onclick="add()"><i class="fa fa-plus" aria-hidden="true"></i>添加</button>
                </div>
                <div class="fixed-table-toolbar">
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>
                    <div class="columns pull-right">
                            <button id="button" class="btn btn-default">获取全选值</button>
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="searchName" type="text" class="form-control" placeholder="菜单名称" >
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<% include ../main/bottom.ejs %>
<script type="text/javascript">

    $(function() {
        load();
    });

    function load() {
        $('#exampleTable')
            .bootstrapTable(
                {
                    method : 'post', // 服务器数据的请求方式 get or post
                    url : "/system/getMenuList", // 服务器数据的加载地址
                    showRefresh : true,
                    showColumns : true,
                    iconSize : 'outline',
                    toolbar : '#exampleToolbar',
                    striped : true, // 设置为true会有隔行变色效果
                    dataType : "json", // 服务器返回的数据类型
                    pagination : true, // 设置为true会在底部显示分页条
                    sortable: true,    // 是否启用排序
                    sortStable: true,  // 设置为 true 将获得稳定的排序
                    // queryParamsType : "limit",
                    // //设置为limit则会发送符合RESTFull格式的参数
                    singleSelect : false, // 设置为true将禁止多选
                    contentType : "application/x-www-form-urlencoded",
                    // //发送到服务器的数据编码类型
                    pageSize :20, // 如果设置了分页，每页数据条数
                    pageNumber : 1, // 如果设置了分布，首页页码
                    pageList: [50, 100,200],
                    //search : true, // 是否显示搜索框
                    showColumns : false, // 是否显示内容下拉框（选择显示的列）
                    sidePagination : "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
                    queryParams : function (params) {
                        return {model:{
                                //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                                pageSize: params.limit,
                                pageNo:(params.offset/params.limit) + 1,
                                searchName:$('#searchName').val(),
                            }
                        };
                    },
                    columns : [
                        {
                            field : 'checkbox',
                            align : 'center',
                            checkbox:true
                        },
                        {
                            field : 'id',
                            align : 'center',
                            title : 'ID'
                        },
                        {
                            field : 'name',
                            align : 'center',
                            title : '菜单名称'
                        },
                        {
                            field : 'parentId',
                            align : 'center',
                            title : '父级ID'
                        },
                        {
                            field : 'href',
                            align : 'center',
                            title : 'url地址'
                        },
                        {
                            field : 'sort',
                            align : 'center',
                            title : '排序'
                        },
                        {
                            field : 'status',
                            align : 'center',
                            title : '状态',
                            formatter:function(value,row,index){
                                if (value == '-1') {
                                    return '<span class="label label-danger">未启用</span>';
                                } else if (value == '1') {
                                    return '<span class="label label-primary">已启用</span>';
                                }else{
                                    return '--';
                                }
                            }
                        },

                        {
                            field : 'remark',
                            align : 'center',
                            title : '备注'
                        },
                        {
                            title : '操作',
                            field : 'operation',
                            align : 'center',
                            formatter : function(value, row, index) {
                                var e = '<a class="btn btn-primary btn-sm" href="javascript:void(0);" mce_href="#"  title="编辑" onclick="edit(' + row.id+')">编辑<i class="fa fa-edit"></i></a> ';
                                var d = '<a class="btn btn-warning btn-sm" href="#" title="删除"  mce_href="#" onclick="remove(\'' + row.id + '\')">删除<i class="fa fa-remove"></i></a> ';
                                return e+d;
                            }
                        }
                    ]
                });

    }
    function reLoad() {
        $('#exampleTable').bootstrapTable('refresh');
    }
        $button = $('#button');
    $(function () {
        $button.click(function () {
            var array=$('#exampleTable').bootstrapTable('getAllSelections');
            var menuIds="";
            for(var i=0;i<array.length;i++){
                menuIds+=array[i].id+",";
            }
            // alert(menuIds)
        });
    });
    /** 编辑 **/
    function edit(id) {
        layer.open({
            type: 2,
            title: '编辑系统菜单',
            maxmin: true,
            shadeClose: false, // 点击遮罩关闭层
            area: ['60%', '78%'],
            content: '/system/editMenu/?id=' + id
        });
    }

    /** 添加 **/
    function add(){
        layer.open({
            type: 2,
            title: '添加系统菜单',
            maxmin: true,
            shadeClose: false, // 点击遮罩关闭层
            area: ['60%', '78%'],
            content: '/system/editMenu/?id=0'
        });
    }

    function remove(id) {
        layer.confirm('确认删除此系统菜单吗？', {
            btn : [ '确定', '取消' ]
        }, function() {
            $.ajax({
                url : "/system/removeMenu",
                type : "post",
                data : {
                    id:id
                }, success : function(res) {
                        if (res.code==1) {
                            layer.msg('操作成功.');
                            reLoad();
                        }else{
                            layer.msg(res.message);
                        }
                    }
            });
        })
    }

</script>

</body>
</html>


