<!DOCTYPE HTML>
<html>
<title>主页</title>
<% include ../main/top.ejs %>
<body>
<div class="panel panel-default">
    <div class="panel-heading">欢迎使用</div>
    <div style="padding: 10px 0 20px 10px;">
        核创科技配方后台管理系统
    </div>
</div>
<% include ../main/bottom.ejs %>
</body>
</html>